<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.bootcss.com/hover.css/2.1.1/css/hover-min.css">
</head>

<body>
  <div class="game-container">

    <main>

      <section class="topic-container">


        <img class="topic-image topic--spacing topic--border shadow" src="" />

        <div id="score-container" class="topic--spacing topic--border shadow">
          <h4>Scores <br/><span class="sub-text">5pts to Win</span></h4>

          <hr/>
          <h5 class="chosen">Player 1: 0 </h5>
          <h5>Player 2: 0 </h5>
          <h5>Player 3: 0 </h5>
          <h5>Player 4: 0 </h5>
        </div>

      </section>
      <section class="choice-container">
        <div class="timer shadow">
          <h3 id="time">Time Remaining: 30 </h3>
        </div>
        <div id="choice-card-container">
          <div class="choice-card shadow">
            <div class="choice-card-inner-border">
              <img class="choice-card-img" src="http://i3.ytimg.com/vi/frlDkcG8Z9E/hqdefault.jpg" />
            </div>
          </div>
          <div class="choice-card shadow">
            <div class="choice-card-inner-border">
              <img class="choice-card-img" src="http://i3.ytimg.com/vi/frlDkcG8Z9E/hqdefault.jpg" />
            </div>
          </div>

          <div class="choice-card shadow">
            <div class="choice-card-inner-border">
              <img class="choice-card-img" src="http://i3.ytimg.com/vi/frlDkcG8Z9E/hqdefault.jpg" />
            </div>
          </div>
          <div class="choice-card shadow">
            <div class="choice-card-inner-border">
              <img class="choice-card-img" src="http://i3.ytimg.com/vi/frlDkcG8Z9E/hqdefault.jpg" />
            </div>
          </div>
        </div>
        <div id="player-cards">

          <div class="card shadow">
            <div class="card-inner-border">
              <div class="card-block">
                <p class="card-text">

                  <div class="form-group meme-input">
                    <input id="top-text" placeholder="TOP TEXT" type="text" class="form-control ">
                    <input id="bottom-text" placeholder="BOTTOM TEXT" type="text" class="form-control">
                  </div>
                </p>
              </div>
            </div>
          </div>

          <button id="meme-submit" type="button" class="btn  btn-block btn-success">Submit</button>

        </div>


      </section>
      <section class="chat">
        <div class="chat-display">

        </div>
        <form>
          <div class="input-group">
            <input type="text" id="message-input" class="form-control" placeholder="">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id="message-submit" type="submit" style="display: none;">Send</button>
            </span>
          </div>
        </form>
      </section>

    </main>

    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!--Supposedly SocketIO is automatically exposed to front end-->
    <script src="/socket.io/socket.io.js"></script>

    <!--Temporary until code is consolidated (Multi-module)-->
    <script src="/javascript/game.js"></script>
</body>

</html>
