// *{
//   border:1px solid green;
// }
$select-color: red;

body,
html {
  height: 100%;
  overflow: hidden;
}


.modal-title{
  text-align: center !important;
  width:100%;
}

.modal-body{
  align-self:center;
}

.max-h{
  max-height:75%;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px 0 rgba(67, 67, 69, 0.5);
  -moz-box-shadow: 5px 5px 5px 0 rgba(67, 67, 69, 0.5);
  box-shadow: 5px 5px 5px 0 rgba(67, 67, 69, 0.5);
}



.underline{
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
}

.sub-text {
  font-size: 60%;
}

.chosen {
  color: red;
}

.timer {
  margin-top: 15px;
  margin-bottom: 30px;


}
#time{
  font-size:22px;
  padding:0;
  margin:0;
}

#top-text {
  margin-bottom: 100px;
}

#bottom-text,
#top-text {
  font-size: 20px;
}

#meme-submit {
  margin-top: 30px;
  font-size: 36px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:active,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("http://www.designbolts.com/wp-content/uploads/2013/02/Free-Seamless-Wood-Textures-Patterns-For-3D-Mapping-2.jpg") repeat;
  padding: 20px;

  &-border {
    border-radius: 5px;
  }
}

header {
  text-align: center;
  margin-bottom: 2%;
}

main {
  display: flex;
  height: 100%;
}

.topic-container {
  flex: 0 0 27%;
}

.choice-container {
  flex: 1;
  margin: 0 3%;

}

.chat {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0.40rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.55);

  &-display {
    flex: 1;
    overflow-y: auto;
    padding-bottom:10px;
  }

  &-thumbnail{
    border:1px solid antiquewhite;
    border-radius: 50%;
    max-width: 35px;
    margin-right:10px;
  }

  &-p{
    font-size:14px;
    word-wrap: break-word;
    margin-bottom:10px;
  }

  &-input {
    margin-top: 20px;
  }
}

.topic {
  &-container {}

  &--spacing {
    margin: 15px 0;
  }

  &--border {
    padding: 0.40rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: white;
  }

  &-image {
    max-width: 100%;
    max-height:320px;
  }
}

.player{
  margin-bottom:5px;
  padding:5px;

  &-image{
    border:1px solid antiquewhite;
    border-radius: 50%;
    margin-right:20px;
    max-height:30px;
  }

  &-judge{
    background-color:rgba(255,0,0,0.40);
    border-radius:5px;
    border:1px solid antiquewhite;
  }
}

.card {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding: 20px;
  font-size: 16px;

  &-inner-border {
    border: 2px solid #222;
    border-radius: 5px;
    padding: 20px 0;
  }

  &-selected {
    border: 5px solid $select-color;
  }
}

.judge-hover{
  transition: all 0.25s;
  transform: scale(1.05);
}

.choice {
  &-container {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-card {
    float: left;
    margin: 15px 2% 5%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    max-width: 45%;
    background-color: white;

    &:hover {
      transition: all 0.25s;
      transform: scale(1.05);
    }

    &-inner-border {
      border: 2px solid #111;
      border-radius: 5px;
    }

    &-img {
    width: 100%;
    height: 200px;

    }

    &-chosen {
      background-color: $select-color;
      border: 1px solid $select-color;
      max-width: 100%;

    }
  }
}
@media only screen and (max-width:768px) {
  .chat {
    display: none;
  }

  .topic-container {
    flex: 0 0 40%;
  }

  #bottom-text,
  #top-text {
    font-size: 18px;
  }
}

#choice-card-container {
  display: none;
}
